body {
  background-color: darkgrey;
  font-size: x-large;
  font-family: "Oswald", sans-serif;
}
h1 {
  text-align: center;
  font-size: xx-large;
  font-family: "Inconsolata", monospace;
}
h2 {
  text-align: center;
  font-size: xx-large;
  font-family: "Inconsolata", monospace;
}
h3 {
  text-align: center;
  font-size: xx-large;
  font-family: "Inconsolata", monospace;
}
.background1 {
  background-image: url(images/pic1.jpg);
  color: red;
}
.background2 {
  background-image: url(images/Blog\ pic\ 2.5.jpg);
  background-position: center;
  color: red;
{

